<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ConnectionTest</servlet-name>
        <servlet-class>Manager.ConnectionTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Screen.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Screen.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot</servlet-name>
        <servlet-class>Screen.Forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OAuth</servlet-name>
        <servlet-class>Manager.OAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OAuthLogin</servlet-name>
        <servlet-class>Screen.OAuthLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPass</servlet-name>
        <servlet-class>Screen.ResetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendCode</servlet-name>
        <servlet-class>Screen.ResendCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagement</servlet-name>
        <servlet-class>Screen.UserManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileManagement</servlet-name>
        <servlet-class>Screen.ProfileManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccountMail</servlet-name>
        <servlet-class>Screen.VerifyAccountMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccount</servlet-name>
        <servlet-class>Screen.VerifyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Screen.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvatarChange</servlet-name>
        <servlet-class>Screen.AvatarChange</servlet-class>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ProductManagement</servlet-name>
        <servlet-class>Screen.ProductManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostManagement</servlet-name>
        <servlet-class>Screen.PostManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagement</servlet-name>
        <servlet-class>Screen.OrderManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvatarChangeUser</servlet-name>
        <servlet-class>Screen.AvatarChangeUser</servlet-class>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>SettingsManagement</servlet-name>
        <servlet-class>Screen.SettingsManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionTest</servlet-name>
        <url-pattern>/ConnectionTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot</servlet-name>
        <url-pattern>/Forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAuth</servlet-name>
        <url-pattern>/OAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAuthLogin</servlet-name>
        <url-pattern>/OAuthLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPass</servlet-name>
        <url-pattern>/ResetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendCode</servlet-name>
        <url-pattern>/ResendCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagement</servlet-name>
        <url-pattern>/UserManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileManagement</servlet-name>
        <url-pattern>/ProfileManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccountMail</servlet-name>
        <url-pattern>/VerifyAccountMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccount</servlet-name>
        <url-pattern>/VerifyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvatarChange</servlet-name>
        <url-pattern>/AvatarChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagement</servlet-name>
        <url-pattern>/ProductManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostManagement</servlet-name>
        <url-pattern>/PostManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagement</servlet-name>
        <url-pattern>/OrderManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvatarChangeUser</servlet-name>
        <url-pattern>/AvatarChangeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsManagement</servlet-name>
        <url-pattern>/SettingsManagement</url-pattern>
    </servlet-mapping>

</web-app>
