* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}
.form-alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}

.form-success {
    background-color: #d4edda; 
    color: #155724; 
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}
.container {
    display: flex;
    width: 100%;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
}

.profile {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    h1 {
        font-size: 24px;
        margin: 10px 0;
    }
    p {
        color: #777;
        margin-bottom: 10px;
    }
}

.pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}

.details {
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    align-items: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 20px 15px 20px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item {
    width: 45%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    background-color: #f9f9f9;
    color: black;
    margin-top:10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent; 
    border-radius: 5px;
    &:hover{
       border-color: #03cafc;
    }
}

.label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.value {
    color: #666;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
