* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}



.main-content {
    flex-grow: 1;
    padding: 20px;
}





.form-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    h2{
        margin-bottom:15px;
    }
}

.form-alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:10px;
    border-spacing:0;
    overflow:hidden;
    th,td{
        padding: 10px;
        border-left:solid black 1px;
        border-top:solid black 1px;
    }
    th{
        background-color: #f5f5f5;
        border-top: none;
    }
    td:first-child, th:first-child {
        border-left: none;
    }
}
.pagination {
    text-align: center;
    button {
        padding: 10px 15px;
        margin: 5px;
        border: 1px solid #ccc;
        background-color: #fff;
        cursor: pointer;
        &:hover {
            background-color: #f5f5f5;
        }
    }
}
select{
    font-size:16px;
    border:none;
    background:none;
    
}
