.overview {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    font-size: 18px;
    img{
        width: 50px;
    }
    .overview-item {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 22%;
    }
}