* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}



.main-content {
    flex-grow: 1;
    padding: 20px;
}


.form-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.form-alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}

.settings{
    display: flex;
    flex-direction: column;
    .setting{
        display: flex;
        justify-content: space-between;
        padding-block: 20px;
        p{
            font-size: large;
        }
        .dropdown{
            appearance: none; 
            -webkit-appearance: none;
            -moz-appearance: none;
            font-size: medium;
            padding-inline: 10px;
            width: 85px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid black;
        }
    }
}
